<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= @app['name'] %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="Social Feed Reader" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.oembed.js"></script>
    <script src="/javascripts/jquery.timeago.js" type="text/javascript"></script>

    <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });
      });
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= @app['id'] %>",                     // App ID
          channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
          status     : true,                                    // check login status
          cookie     : true,                                    // enable cookies to allow the server to access the session
          xfbml      : true                                     // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so Ruby can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="centered-content">
      <header class="clearfix">
        <% if @user %>
            <p id="picture" style="background-image: url(https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal)"></p>
            <div>
              <div id="share-app" class="pull-right">
                <ul>
                  <li>
                    <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
                      <span class="plus">Post to Wall</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Checkout this awesome app">
                      <span class="apprequests">Send Messages</span>
                    </a>
                  </li>
                </ul>
              </div>
              <h1>Welcome, <strong><%= @user['name'] %></strong></h1>
              <h2>Search public posts and get to know people's opinion</h2>
            </div>
        <% else %>
          <div>
            <a href='/auth/facebook' class="pull-right fb_button fb_button_medium">
              <span class="fb_button_text">Log In</span>
            </a>
            <h1>Social Feed Reader</h1>
          </div>

        <% end %>
      </header>

      <section id="get-started">
        <% unless @user %>
          <p>Search through public posts on various topics</p>
          <div class="intro">
            <div class="news">
              <img class="pic-image1 pull-left" src="images/news.png"/>
              <div class="pic-offset1 snippet">
                <h2 class="strong">Learn about current events</h2>
                <div>
                  Want to know about the recent events surrounding the Lance Armstrong ban or the Robert Vadra scam, search for "Lance Armstrong" or "Robert Vadra"
                </div>  
              </div>  
            </div>
            <div class="news">
              <img class="pic-image1 pull-left second-story" src="images/play.jpg"/>
              <div class="pic-offset1 snippet">
                <h2 class="strong">Sports Reactions</h2>
                <div>
                  See general reaction of sporting fans around the world after a indian cricket defeat, or transfer of RVP to MANU
                </div>  
              </div>  
            </div>
            <div class="news">
              <img class="pic-image1 pull-left third-story" src="images/movies.jpg"/>
              <div class="pic-offset1 snippet">
                <h2 class="strong">Movie Reviews</h2>
                <div>
                  Can't trust online movie reviews or newspaper reviews ? Hear it from the people about what they think about a movie.
                </div>  
              </div>  
            </div>
          </div>  
          <div class="footer-note">
            <p>Search for anything that interests you and get live results from the people.</p>
          </div>  
        <% else %>  
          <div class="logged-in">
            <p>Social Feed Reader</p>
            <form method="post" class="" id="primary-search-box">
             <input type="text" class="search-box"/>
             <img src="images/loader.gif" class="ajax-spinner invisible"/>
            </form> 
            <div class="help-block">Hit enter to search !</div>
          </div>  
        <% end %>  
      </section>
      <div id="result_set">
      </div>
    </div>
  </body>
</html>